.luckysheet-print-viewList {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  float: right;
  width : 126px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  white-space: nowrap;
  user-select: none;
}

.luckysheet-print-viewBtn {
  position: absolute;
  top : 0;
  left: 0;
  width : 42px;
  height: 22px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.luckysheet-print-viewBtn .iconfont {
  font-size: 22px;
}

.luckysheet-print-viewBtn:hover {
  background: #E1E4E8;
}

.luckysheet-print-viewBtn-active {
  background: #dcdcdc;
  cursor: default;
}

.luckysheet-print-viewBtn-active:hover {
  background: #dcdcdc;
}

.luckysheet-print-viewNormal {
  left: 0;
}

.luckysheet-print-viewLayout {
  left: 42px;
}

.luckysheet-print-viewPage {
  left: 84px;
}
